ENV=dev

POSTGRES_USER=prefect
POSTGRES_PASSWORD=prefect
POSTGRES_DB=prefect

PREFECT_UI_API_URL=http://127.0.0.1:4200/api
PREFECT_API_URL=http://127.0.0.1:4200/api

TUSHARE_TOKEN=

CLICKHOUSE_HOST=localhost
CLICKHOUSE_DB=default
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=
CLICKHOUSE_HTTP_PORT=8123
CLICKHOUSE_SECURE=false

EASYPREFECT_DOCKER_HOST_ROOT=/home/zhangshaobin/work/EasyPrefect

# Optional image overrides.
EASYPREFECT_PYTHON_IMAGE=192.168.50.224:8088/library/python:3.14-slim
EASYPREFECT_SERVER_IMAGE=192.168.50.224:8088/library/prefect:3-python3.14
EASYPREFECT_POSTGRES_IMAGE=192.168.50.224:8088/library/postgres:15
EASYPREFECT_WORKER_IMAGE=192.168.50.224:8088/easyprefect/easy-prefect-runtime:local
