ENV=dev

POSTGRES_USER=prefect
POSTGRES_PASSWORD=prefect
POSTGRES_DB=prefect

PREFECT_UI_API_URL=http://127.0.0.1:4200/api
PREFECT_API_URL=http://127.0.0.1:4200/api

TUSHARE_TOKEN=

EASYPREFECT_DOCKER_HOST_ROOT=/home/zhangshaobin/work/EasyPrefect

# Optional image overrides.
EASYPREFECT_PYTHON_IMAGE=python:3.14-slim
EASYPREFECT_SERVER_IMAGE=prefecthq/prefect:3-latest
EASYPREFECT_POSTGRES_IMAGE=postgres:15
